## **Assignment 3**

**link of the original file** 

https://colab.research.google.com/drive/1phsqpgthOFpK1ONMt_JKedsSqXj_1Xku?usp=sharing



 Global sales and data analysis

 Md Shafiuddin Shariff

 Md uzaif

 Vinothkumar

 Suganthi

**Exercises**

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

What is 7 to the power of 4?

In [ ]:
print(pow(7,4))

2401

Split this string:

In [ ]:
s = "Hi there Sam!"

into a list.

In [ ]:
s="Hi there Sam!"
list=s.split(" ")
print(list)

['Hi', 'there', 'Sam!']

In [ ]:
s="Hi there dad!"
list=s.split(" ")
print(list)

['Hi', 'there', 'dad!']

Given the variables:

In [ ]:
planet = "Earth"
diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

In [ ]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
wrd=lst[3][1][2]
print(wrd)

['hello']

Given this nested list, use indexing to grab the word "hello"

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

What is the main difference between a tuple and a list?

In [ ]:
#LIST:
   #List is mutable
   #List consumes more memory
   #List are denoted by square brackets
   #Example: list=['iqram',3]

#TUPLE:
   #Tuple is immutable
   #Tuple consumes less memory
   #Tuples are denoted by parenthesis
   #Example: tuple=('iqram',3)



Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def domain(email):
  print(email.split('@'[-1]))
domain("user@domain.com")

['user', 'domain.com']

**Basic funtion for true or false**

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:
def FindWord(string):
  str=string.lower()
  if "dog" in string:
    print("True")
  else:
    print("False")

FindWord('My dog is jimmy')
FindWord('My name is iqram')

True
False

**String contains word dog**

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [ ]:
def countWord(str):
  count=0
  for word in str.lower().split():
    if word=='dog':
      count=count+1

  print(count)
countWord('This dog runs faster than the other dog')

2

**Problem**

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

In [ ]:
caught_speeding(85,False)

'Big Ticket'

**Employee Salary list**

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee=[['iqarm',55000],['farhan',45000],['fawaz',3000],['hashaan',50000]]
total_salary=0
length=len(employee)
for name,salary in employee:
  total_salary+=salary
average_salary=total_salary/length
print(average_salary)
salary_expenditure=average_salary * length
print(salary_expenditure)

38250.0
153000.0

 **Create two dictionaries in Python:**

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [ ]:
def combineDictionary(dict1,dict2):
  for i in dict2.keys():
    dict1[i]=dict2[i]
  return dict1
dict1={'Empid':500,'Empname':'iqram','BasicPay':25000}
dict2={'DeptName':'webapp Developer','Deptid':5}
finaldict=combineDictionary(dict1,dict2)
print(finaldict)

{'Empid': 500, 'Empname': 'iqram', 'BasicPay': 25000, 'DeptName': 'webapp Developer', 'Deptid': 5}